{% extends '::base.html.twig' %}

{% block content %}

    <h1><span>Welcome to</span> Animus apartment</h1>

    <p>This project has built on Symfony {{ constant('Symfony\\Component\\HttpKernel\\Kernel::VERSION') }}</p>
    <p>This is demo site for checking base functions:</p>
    <ul>
        <li><a href="{{ path('list') }}">View list of apartments</a></li>
        <li><a href="{{ path('create') }}">Create new apartment record</a></li>
    </ul>

{% endblock %}
