{% extends "::base.html.twig" %}

{% block title %}Create a new apartment{% endblock %}

{% block content %}
    <h1>Create a new apartment!</h1>

    {{ include("ApartmentBundle:forms:apartment.html.twig") }}
{% endblock %}